body {
  min-height: 100vh; 
  background-color: #fcfcfc;
}

.navbar-styles{
    height: 80px;
    background: #bdbdbd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: rgb(255, 255, 255) !important;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

@media screen and (min-width: 992px) {
    .nav-link:hover {
        color: #f9fef8;
        border-bottom: 3px solid #ffffff;
        border-top: 3px solid #ffffff;
        border-radius: 25px 25px 25px 25px;
    }
}

@media screen and (min-width: 992px) {
    .nav-link:not(:hover) {
        border-radius: 25px 25px 25px 25px;
    }
}

.nav-link:focus, .nav-link:hover {
    color: #19452e;
}

footer{
    border-top : solid 2px rgb(223, 223, 223)
}

.table-borderless td,
.table-borderless th {
  border-left: 1px solid #dee2e6; /* Dodaj pionowe obramowanie */
}

.table-borderless thead th:first-child,
.table-borderless tbody td:first-child {
  border-left: none; /* Usuń obramowanie pionowe dla pierwszej kolumny */
}

.custom-table thead th {
  border-bottom: 1px solid #dee2e6; /* Dodaj poziome obramowanie dla nagłówków kolumn */
}

.custom-table tbody tr:first-child td {
  border-top: 1px solid #dee2e6; /* Dodaj poziome obramowanie dla pierwszego wiersza */
}

.bg-lightgray{
  background-color: #ebebeb !important;
}

.card-header{
  font-size: 25px !important;
  font-weight: bold;
  background-color: #a7a7a7 !important;
  cursor: pointer !important;
}

.card-body{
  font-size: 18px !important;
  background-color: #eeeeee !important;
  border-radius: 5px;
  color: black !important;
}

.circle-background-universal{
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  border-radius: 50%;
  border: 2px solid black
}

.circle-background0 {
  background-color: transparent;
}

.circle-background1 {
  background-color: rgb(179, 39, 39);
}

.circle-background2 {
  background-color: rgb(248, 179, 30);
}

.circle-background3 {
  background-color: rgb(231, 219, 40);
}

.circle-background4 {
  background-color: rgb(8, 150, 8);
}

.circle-background5 {
  background-color: rgb(10, 212, 196);
}

.circle-text {
  font-size: 25px;
}

.icons-size{
  font-size: 25px;
}

.arrow {
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
}

.arrow:hover,
.arrow.hover {
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg) scale(1.5);
  transition: transform 0.2s ease-in-out;
}

.arrow.reverse {
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(135deg);
  transition: transform 0.2s ease-in-out;
}

.reverse:hover,
.reverse.hover {
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(135deg) scale(1.5);
  transition: transform 0.2s ease-in-out;
}

.add-shadow{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.long-text{
  text-align: justify; 
  margin: 0;
  text-indent: 2rem;
}